language: generic

branches:
  only:
    - master

# Cache is irrelevant for linux/docker builds, but useful to speed up osx
cache:
  directories:
    - $HOME/.pyenv
    - $HOME/googletest

matrix:
  include:
  - os: linux
    services: docker
    env:
      - DOCKER_IMAGE=xdatainitiative/tick_debian:0.5.1
      - PYVER=3.6.8
  - os: linux
    services: docker
    env:
      - DOCKER_IMAGE=xdatainitiative/tick_debian:0.5.1
      - PYVER=3.7.3
  - os: osx
    language: generic
    sudo: required
    env:
      - PYVER=3.6.8
    osx_image: xcode10.2
  - os: osx
    language: generic
    sudo: required
    env:
      - PYVER=3.7.3
    osx_image: xcode10.2

install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then source tools/travis/osx_install.sh; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then docker pull $DOCKER_IMAGE; fi

script:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then source tools/travis/osx_run.sh; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then docker run -v `pwd`:/io -e PYVER=${PYVER} "$DOCKER_IMAGE" /io/tools/travis/docker_run.sh; fi

notifications:
  slack:
    secure: m9B/ZFfTZRZTRT5yVXdHKOfO+f7Nnq5w9sewxMXFe0RQ/jaEFWt2b/jA9gTR1WJKvQ/05hmShMlz7UMCZguXqElYzsLvdribmV94TvmFpJdsoF80palZzzjRCm9lNHx66RWJ4l5p9wKAS+73tafDBBlGwaOqc234le+YxYsTIGgzeb69WS547LkHhbmPTgbhG+k8jAfE0OByXsSmaOTVyqbWerK1WF8KzlGx5WqWkGhECloTBLdcK0+oxelHYGdwI2CCRi/SfOfEyO6ceyV6hqE6Xt0g/RJhO4lEs9ahIVryUKUTpYxbgO0eWJ0LwM0OolfCAaphKHogd4Z6zHGr2EXmkXzElUcT5fMFhSD1/KxBXWxSl3TdAOpzaXG5WTYDV+38rM15FGhQD+q9monR3q7aHs/P7BkAcZBJGns61gTV1R9o+xMV4naMGH7/SRPxS9Jmz6h7Wg6WzoH2E2/Qq0YL+w3BDg6vpXNoBstmX/3D0G7S+SFmQcZqXQ18RGC5HqP1YA0gJyX89Bl8ZRBD4JTplh/Mnb20ORBNt+aaWzGEdOf7DRcGfc0Yl7Wyap92+dvX+wW7KPEUU04uRlKk/FHXA6U3NcsL9Le//+SsPveW7iCMF8e2jct9E5e7kCd2fkiExwH130zfhmDXApTBHVZGjiB/swx0X+utiXkQUbQ=
