
version: 0.5.{build}

branches:
  only:
    - master

max_jobs: 1

image:
- Visual Studio 2017

init:
  - git config --global core.autocrlf input

clone_depth: 1

hosts:
  queue-server: 127.0.0.1
  db.server.com: 127.0.0.2

platform: x64

configuration: Release

cache:
  - C:\ProgramData\chocolatey\bin -> appveyor.yml # swig.exe
  - C:\ProgramData\chocolatey\lib -> appveyor.yml # supporting swig Lib files.

install:
  - git submodule update --init
  - curl -o mkn.exe -L https://ci.appveyor.com/api/projects/dekken/maiken/artifacts/bin/build/mkn.exe
  - IF NOT EXIST C:\ProgramData\chocolatey\bin\swig.exe choco install tools\windows\swig.3.0.12.nupkg --yes --limit-output #> $null
  - git clone https://github.com/X-DataInitiative/tick_appveyor -b master --depth 1 appveyor

build_script:
  - cp "C:\Program Files (x86)\Windows Kits\10\bin\x64\rc.exe" %CD%
  - cp %CD%\rc.exe %CD%\lib
  - SET MKN_CL_PREFERRED=1 # forces mkn to use cl even if gcc/clang are found
  - SET SWIG=0 # disables swig for mkn
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"

  # doesnt exist for somereason?
  - mkdir -p "C:\Program Files (x86)\Windows Kits\10\include\10.0.16299.0\cppwinrt"

  # Python 3.6
  - cat appveyor/pip/numpy/numpy-1.14.0+mkl-cp36* > appveyor/pip/numpy-1.14.0+mkl-cp36-cp36m-win_amd64.whl
  - C:\Python36-x64\Scripts\pip install appveyor\pip\numpy-1.14.0+mkl-cp36-cp36m-win_amd64.whl
  - C:\Python36-x64\Scripts\pip install appveyor\pip\numpydoc-0.7.0-py2.py3-none-any.whl
  - C:\Python36-x64\Scripts\pip install appveyor\pip\scipy-1.0.0-cp36-cp36m-win_amd64.whl
  - C:\Python36-x64\Scripts\pip install -r requirements.txt
  - C:\Python36-x64\Scripts\pip install tensorflow
  - C:\Python36-x64\python setup.py build_ext --inplace
  - C:\Python36-x64\python -m unittest discover -v . "*_test.py"
  - bash -c "PATH=\"$PWD:/c/Python36-x64/:/c/Program Files/Git/usr/bin:$PATH\"; sh/mkn.sh"
  - bash -c "PATH=\"$PWD:/c/Python36-x64/:/c/Program Files/Git/usr/bin:$PATH\"; sh/gtest.sh"
  - C:\Python36-x64\python setup.py bdist_wheel
  - rm -rf build
  - rm -rf lib\bin

  # # Python 3.5 # with addition of gtests appveyor is taking more than an hour and timing out
  # - cat appveyor/pip/numpy/numpy-1.14.0+mkl-cp35* > appveyor/pip/numpy-1.14.0+mkl-cp35-cp35m-win_amd64.whl
  # - C:\Python35-x64\Scripts\pip install appveyor\pip\numpy-1.14.0+mkl-cp35-cp35m-win_amd64.whl
  # - C:\Python35-x64\Scripts\pip install appveyor\pip\numpydoc-0.7.0-py2.py3-none-any.whl
  # - C:\Python35-x64\Scripts\pip install appveyor\pip\scipy-1.0.0-cp35-cp35m-win_amd64.whl
  # - C:\Python35-x64\Scripts\pip install -r requirements.txt
  # - C:\Python35-x64\Scripts\pip install tensorflow
  # - C:\Python35-x64\python setup.py build_ext --inplace
  # - C:\Python35-x64\python -m unittest discover -v . "*_test.py"
  # - C:\Python35-x64\python setup.py bdist_wheel
  # - rm -rf build
  # - rm -rf lib\bin

  # Python 3.4 : Building wheels for pandas is currently failing, having trouble with pandas

artifacts:
  - path: "dist\\*.whl"
    name: Wheels