
version: 0.5.{build}

branches:
  only:
    - master

max_jobs: 1

image:
- Visual Studio 2017

init:
  - git config --global core.autocrlf input

clone_depth: 1

hosts:
  queue-server: 127.0.0.1
  db.server.com: 127.0.0.2

platform: x64

configuration: Release

cache:
  - C:\ProgramData\chocolatey\bin -> appveyor.yml # swig.exe
  - C:\ProgramData\chocolatey\lib -> appveyor.yml # supporting swig Lib files.

install:
  - git submodule update --init
  - curl -o mkn.exe -L https://github.com/Dekken/maiken/raw/binaries/win10_x64/mkn.exe
  - IF NOT EXIST C:\ProgramData\chocolatey\bin\swig.exe choco install tools\windows\swig.4.0.0.nupkg --yes --limit-output #> $null
  - cat C:\ProgramData\chocolatey\logs\chocolatey.log
  - git clone https://github.com/X-DataInitiative/tick_appveyor -b master --depth 1 appveyor

build_script:
  - cp "C:\Program Files (x86)\Windows Kits\10\bin\x64\rc.exe" %CD%
  - cp %CD%\rc.exe %CD%\lib
  - call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"
  - cl # print compiler version
  # doesnt exist for somereason?
  - mkdir -p "C:\Program Files (x86)\Windows Kits\10\include\10.0.16299.0\cppwinrt"

  - bash -c "PATH=\"$PWD:/c/Python37-x64/:/c/Program Files/Git/usr/bin:$PATH\"; tools/appveyor/run.sh"

artifacts:
  - path: "dist\\*.whl"
    name: Wheels
