
name: Build Tick on Windows

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


env:
  TICK_DEBUG: 0
  TICK_CMAKE_GENERATOR: Visual Studio 16 2019

jobs:
  build:
    name: Python ${{ matrix.python-version }}
    runs-on: windows-latest

    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true


    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64

    - run: |
        pip install pip --upgrade
        pip install wheel
        pip install -r requirements.txt
        python setup.py build_ext --inplace
        python -m unittest discover -v . "*_test.py"


