
name: Build Tick on OSX

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Python ${{ matrix.python-version }}
    runs-on: macos-latest

    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.6', '3.7', '3.8']
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - uses: allenevans/set-env@v1.0.0
      with:
        TICK_DEBUG: 0

    - name: install swig
      run: |
        brew update
        brew install automake m4
        git clone https://github.com/swig/swig -b rel-4.0.1 swig
        cd swig && ./autogen.sh && ./configure --without-pcre
        make && make install && cd .. && rm -rf swigkey

    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64

    - run: |
        pip install pip --upgrade
        pip install wheel cython --upgrade
        pip install -r requirements.txt --upgrade
        python setup.py build_ext --inplace cpptest pytest

